.App {
  text-align: center;
  /* drag */
  -webkit-app-region: drag;
  height: 100vh;
  background-color: hsl(var(--b1)/var(--tw-bg-opacity));
  /* background: url('https://personal-cv-de742.web.app/static/media/bg.78bc04c91065663d1bce.jpg') */
}